<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.clv.mapper.MyComponentMapper">
    <select id="selectUserById" parameterType="int" resultType="com.clv.model.user.User">    
          select * from user where userId = #{userId}
    </select>  

	<!-- sign in strat-->
	    <insert id="addSignIn">    
	       INSERT INTO ${tableName} (month,signIn_date,user_id)VALUES(${month},${signIn_date},${user_id});
	    </insert>
	     <select id="modifySignIn">
	    	UPDATE ${tableName} SET signIn_date = ${signIn_date} WHERE signIn_id = ${signIn_id};
	    </select>
	    <select id="selectSignIn" resultType="com.clv.model.mycomponent.Signin">
	    	select * from ${tableName} WHERE user_id = ${user_id} AND month = ${month};
	    </select>
	    <!-- gift strat -->
	    <insert id="addSignInGiftBag">    
	       INSERT INTO ${tableName} (month,signInGift_date,user_id)VALUES(${month},${signInGift_date},${user_id});
	    </insert>
	     <select id="modifySignInGiftBag">
	    	UPDATE ${tableName} SET signInGift_date = ${signInGift_date} WHERE signIn_id = ${signIn_id};
	    </select>
	    <select id="selectSignInGiftBag" resultType="com.clv.model.mycomponent.SigninGift">
	    	select * from ${tableName} WHERE user_id = ${user_id} AND month = ${month};
	    </select>
	    <!-- gift  end  -->
 	<!-- sign in end -->
</mapper>
