<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.clv.mapper.PartTimeMapper">  
 	<!-- Client strat -->
 		<!-- getPartTimeList strat-->
 			 <resultMap type="com.clv.model.parttime.PartTimeSummary" id="PartTimeSummary">
		    	<result column = "partTimeId" property="partTimeId"/>
		    	<result column = "photoName" property="photoName"/>
		    	<result column = "title" property="title"/>
		    	<result column = "locationProvince" property="locationProvince"/>
		    	<result column = "locationCity" property="locationCity"/>
		    	<result column = "locationDistrict" property="locationDistrict"/>
		    	<result column = "locationDetailed" property="locationDetailed"/>
		    	<result column = "workDate" property="workDate"/>
		    	<result column = "salary" property="salary"/>
		    	<result column = "partTimeQualification" property="partTimeQualification"/>
		    	<result column = "lastTime" property="lastTime"/>
		    </resultMap>
		    <select id="getPartTimeList" resultMap="PartTimeSummary">
		    	SELECT partTimeId,photoName,title,locationProvince,locationCity,locationDistrict,locationDetailed,workDate,salary,partTimeQualification,lastTime FROM parttime_Information WHERE lastTime &gt;= #{lastTime} AND (partTimeStatus=202 OR partTimeStatus=201);
		    </select>
 		<!-- getPartTimeList end-->
 		<!-- getPartTimeListAll strat-->
		    <select id="getPartTimeListAll" resultMap="PartTimeSummary">
		    	SELECT partTimeId,photoName,title,locationProvince,locationCity,locationDistrict,locationDetailed,workDate,salary,partTimeQualification,lastTime FROM parttime_Information WHERE lastTime &gt;= UNIX_TIMESTAMP(DATE_SUB(#{lastTime},INTERVAL 1 DAY)) AND (partTimeStatus!=101 AND partTimeStatus!=102 AND partTimeStatus	&lt;= 302 );
		    </select>
 		<!-- getPartTimeListAll end-->
 		<select id="getPartTimeInformation" resultType="com.clv.model.parttime.PartTimeInformation">
			SELECT partTimeId,photoName,title,type,settlementMethod,salary,deadline,workDate,locationProvince,locationCity,locationDistrict,locationDetailed,companyId,needNumber,numberOfapplicants,jobDescription,claim,partTimeStatus FROM parttime_Information WHERE partTimeId=#{partTimeId};
		</select>
		<!-- getPartTimeDescription strat-->
 			 <resultMap type="com.clv.model.parttime.PartTimeDescription" id="PartTimeDescription">
		    	<result column = "descriptionId" property="descriptionId"/>
		    	<result column = "title" property="title"/>
		    	<result column = "content" property="content"/>
		    </resultMap>
		    <select id="getPartTimeDescription" resultMap="PartTimeDescription">
		    	SELECT descriptionId,title,content FROM parttime_description WHERE partTimeId=#{partTimeId} ;
		    </select>
 		<!-- getPartTimeDescription end-->
 		<!-- getPartTimeProblem strat-->
 			 <resultMap type="com.clv.model.parttime.PartTimeProblem" id="PartTimeProblem">
		    	<result column = "problemId" property="problemId"/>
		    	<result column = "topic" property="topic"/>
		    	<result column = "type" property="type"/>
		    	<result column = "content" property="content"/>
		    </resultMap>
		    <select id="getPartTimeProblem" resultMap="PartTimeProblem">
		    	SELECT problemId,topic,type,content FROM parttime_problem WHERE partTimeId=#{partTimeId} ;
		    </select>
 		<!-- getPartTimeProblem end-->
 		<!-- selectUserIsRegistration strat -->
 			<select id="selectUserIsRegistration" parameterType="int" resultType="hashmap">
 				SELECT r.registrationType,p.partTimeStatus FROM (SELECT  registrationType,parttimeId FROM parttime_registration WHERE userId=#{userId} AND parttimeId=#{parttimeId}) r,parttime_Information p WHERE r.parttimeId=p.parttimeId;
 			</select>
 		<!-- selectUserIsRegistration  end -->
 		<!-- registration strat -->
 			<insert id="registration">
 				INSERT INTO parttime_registration (registrationType,userId,parttimeId) VALUES (1,#{userId},#{parttimeId}) ON DUPLICATE KEY UPDATE registrationType=1;
 			</insert>
 			<update id="registrationOfInformation">
 				UPDATE parttime_Information SET numberOfapplicants=numberOfapplicants+1 WHERE parttimeId=#{parttimeId};
 			</update>
 		<!-- registration  end  -->
 		<!-- answer strat -->
 			<resultMap type="com.clv.model.parttime.PartTimeAnswer" id="PartTimeAnswer">
 				<result column = "problemId" property="problemId"/>
 				<result column = "answerContent" property="answerContent"/>
 				<result column = "userId" property="userId"/>
 			</resultMap>
 			 <insert id="addAnswer" parameterType="java.util.List">  
			    INSERT INTO parttime_answer (problemId,answerContent,userId)   
			    VALUES  
			    <foreach collection="list" item="item" index="index" separator="," >  
			        (#{item.problemId},#{item.answerContent},#{item.userId})  
			    </foreach>  
			</insert>
 		<!-- answer  end  -->
 		<!-- cancelTheRegistration strat -->
 			<update id="cancelTheRegistration">
 				UPDATE parttime_registration SET registrationType=2 WHERE userId=#{userId} AND parttimeId=#{parttimeId};
 			</update>
 			<update id="cancelTheRegistrationOfInformation">
 				UPDATE parttime_Information SET numberOfapplicants=numberOfapplicants-1 WHERE parttimeId=#{parttimeId};
 			</update>
 		<!-- cancelTheRegistration  end  -->
	<!-- Client  end  -->
</mapper>