<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.clv.mapper.ResumeMapper">
	<!--  查询单条记录  -->    
	<!--  useGeneratedKeys="true" keyProperty="skill_id"  -->
    <insert id="addSkill" parameterType="com.clv.model.resume.Skill" useGeneratedKeys="true" keyProperty="skill_id" >    
       INSERT INTO user_resume_skill (user_id,skill_content)VALUES(#{user_id},#{skill_content});
      <!-- <selectKey resultType = "java.lang.Integer" keyProperty="skill_id">
       		SELECT LAST_INSERT_ID()       		
       </selectKey> --> 
    </insert>
    <select id="selectUserById" parameterType="int" resultType="com.clv.user.model.User">    
       select * from user where user_id = #{user_id}    
    </select>    
    <select id="deleteSkill">
    	DELETE from user_resume_skill WHERE skill_id = #{skill_id};
    </select>
    <select id="selectSkill" >
    	select skill_id id,skill_content content from user_resume_skill WHERE user_id = #{user_id};
    </select>
    <select id="modifySkill">
    	UPDATE user_resume_skill SET skill_content = #{skill_content} WHERE skill_id = #{skill_id};
    </select>
</mapper>
