<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.clv.mapper.ResumeMapper">
    <select id="selectUserById" parameterType="int" resultType="com.clv.user.model.User">    
       select * from user where user_id = #{user_id}    
    </select>  

	<!-- skill strat-->
	    <insert id="addSkill" parameterType="com.clv.model.resume.Skill" useGeneratedKeys="true" keyProperty="skill_id" >    
	       INSERT INTO user_resume_skill (user_id,skill_content)VALUES(#{user_id},#{skill_content});
	    </insert>
	    <select id="deleteSkill">
	    	DELETE from user_resume_skill WHERE skill_id = #{skill_id};
	    </select>
	       <select id="modifySkill">
	    	UPDATE user_resume_skill SET skill_content = #{skill_content} WHERE skill_id = #{skill_id};
	    </select>
	    <!-- select Skill strat-->
	    <resultMap type="com.clv.model.resume.Skill" id="SkillResult">
	    	<result column = "skill_id" property="skill_id"/>
	    	<result column = "skill_content" property="skill_content"/>
	    </resultMap>
	    <select id="selectSkill" parameterType="int" resultMap="SkillResult">
	    	select skill_id,skill_content from user_resume_skill WHERE user_id = #{user_id};
	    </select>
	    <!-- select skill end -->
 	<!-- skill end -->
</mapper>
